@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsArticle>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}


@{
	var selection = Umbraco.Content(Guid.Parse("6e4ba1eb-b5f5-4467-bb97-925a09600bae"))
    .Children()
    .Where(x => x.IsVisible())
    .OrderBy(x => x.CreateDate)
    .Take(10);
}
	        @foreach (var item in selection)
	        {
	        <a href="@item.Url()">
            <div>
                @item.Value("title");
            </div>
            
            @{
                var image = item.Value<IPublishedContent>("leadImage");
                }
        
            <div>
                <img src="@image.Url()" class="img-fluid" />
            </div>
            </a>
}
